<div class="bg-secondary">
    <div class="container">
        <div class="row py-5">
            <div class="col-12">
                <p class="display-4 font-weight-bold text-primary">
                    PlayaMaya API
                </p>
                <p>Ambiente: {{ ambiente }}</p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row mt-2">
        <div class="col-12 p-0">
            <div class="alerta-respuesta alert alert-success alert-dismissible fade" role="alert">
                <strong class="alerta-respuesta-strong"></strong> <span class="alerta-respuesta-text"> You should check in on some of those fields below.</span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row mt-5">
        <div class="col">
            <div class="card mb-3">
            <h3 class="card-header">Modelos</h3>
            <div class="card-body">
                <h5 class="text-primary text-capitalize model-title">Usuarios</h5>
                <div class="accordion" id="acordeon-usuarios">
                    {{!-- GET usuarios  --}}
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="usuarios-get-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseUsuariosGet" aria-expanded="false" aria-controls="collapseUsuariosGet">
                            <span class="bg-secondary mr-3 py-2 px-4 method-display"><strong>GET</strong></span> <span class="font-weight-bold mx-3"><strong>/usuarios</strong></span> <span class="text-muted"><small>Listado de todos los usuarios</small></span> 
                        </button>
                        </h2>
                        <div id="collapseUsuariosGet" class="accordion-collapse collapse" aria-labelledby="usuarios-get-header" data-bs-parent="#acordeon-usuarios">
                            <div class="accordion-body">
                                {{!-- tabla de parámetros  --}}
                                <div class="row mb-2">
                                    <div class="col-12 bg-dark rounded py-2">
                                        <h6 class="pt-2 text-decoration-underline">Parámetros</h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 p-0">
                                        <div class="card border-dark">
                                            <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                <th scope="col">Nombre</th>
                                                <th scope="col">Descripción</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="table-secondary">
                                                    <td>
                                                        <span class="text-primary"><strong>pagina</strong></span> <br>
                                                        <span class="small"><em>integer</em></span><br>
                                                        <span class="small">(query)</span><br>
                                                    </td>
                                                    <td>
                                                        Página a consultar <br>

                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <span class="text-primary"><strong>apellidos</strong></span> <br>
                                                        <span class="small"><em>string</em></span><br>
                                                        <span class="small">(query)</span><br>
                                                    </td>
                                                    <td>Apellidos del usuarios, busca usando contain</td>
                                                    </tr>
                                                <tr class="table-secondary">
                                                    <td>
                                                        <span class="text-primary"><strong>nombres</strong></span> <br>
                                                        <span class="small"><em>string</em></span><br>
                                                        <span class="small">(query)</span><br>
                                                    </td>
                                                    <td>Nombres del usuarios, busca usando contain</td>
                                                </tr>
                                            </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                {{!-- tabla de respuesta  --}}
                                <div class="row mb-2">
                                    <div class="col-12 bg-dark rounded py-2">
                                        <h6 class="pt-2 text-decoration-underline">Reponse</h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 p-0">
                                        <div class="card border-dark">
                                            <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                <th scope="col">Código</th>
                                                <th scope="col">Descripción</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="table-secondary">
                                                    <td>
                                                        <span class="text-primary"><strong>200</strong></span> <br>
                                                    </td>
                                                    <td>
                                                        HTTP 200 OK <br>
                                                        <div class="row">
                                                            <div class="col-6">
                                                                <div class="form-group my-2">
                                                                    <label for="types-get-usuarios" class="form-label mt-1 small">Media type:</label>
                                                                    <select class="form-select" id="types-get-usuarios">
                                                                        <option>application/json</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        Ejemplo: <br>
                                                        <div class="card">
                                                            <div class="card-body">
                                                                <p class="card-text">
                                                                    acá vendría el ejemplo de una respuesta

                                                                </p>
                                                            </div>
                                                        </div>

                                                    </td>
                                                </tr>
                                            </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{!-- GET - usuarios/:id  --}}
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="usuarios-get-by-id-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseUsuariosGetById" aria-expanded="false" aria-controls="collapseUsuariosGetById">
                            <span class="bg-secondary mr-3 py-2 px-4 method-display"><strong>GET</strong></span> <span class="font-weight-bold mx-3"><strong>/usuarios/:id</strong></span> <span class="text-muted"><small>Devuelve perfil de usuario por id</small></span>
                        </button>
                        </h2>
                        <div id="collapseUsuariosGetById" class="accordion-collapse collapse" aria-labelledby="usuarios-get-by-id-header" data-bs-parent="#acordeon-usuarios">
                        <div class="accordion-body">
                                <div class="row mb-2">
                                    <div class="col-12 bg-dark rounded py-2">
                                        <h6 class="pt-2 text-decoration-underline">Parámetros</h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 p-0">
                                        <div class="card border-dark">
                                            <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                <th scope="col">Nombre</th>
                                                <th scope="col">Descripción</th>
                                                </tr>
                                            </thead>
                                            {{!-- <tbody>
                                                <tr class="table-secondary">
                                                    <td>
                                                        <span class="text-primary"><strong>pagina</strong></span> <br>
                                                        <span class="small"><em>integer</em></span><br>
                                                        <span class="small">(query)</span><br>
                                                    </td>
                                                    <td>
                                                        Página a consultar <br>

                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <span class="text-primary"><strong>apellidos</strong></span> <br>
                                                        <span class="small"><em>string</em></span><br>
                                                        <span class="small">(query)</span><br>
                                                    </td>
                                                    <td>Apellidos del usuarios, busca usando contain</td>
                                                    </tr>
                                                <tr class="table-secondary">
                                                    <td>
                                                        <span class="text-primary"><strong>nombres</strong></span> <br>
                                                        <span class="small"><em>string</em></span><br>
                                                        <span class="small">(query)</span><br>
                                                    </td>
                                                    <td>Nombres del usuarios, busca usando contain</td>
                                                </tr>
                                            </tbody> --}}
                                            </table>
                                        </div>
                                    </div>
                                </div>
                        </div>
                        </div>
                    </div>
                    {{!-- POST - usuarios  --}}
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="usuarios-post-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseUsuariosPost" aria-expanded="false" aria-controls="collapseUsuariosPost">
                            <span class="bg-secondary mr-3 py-2 px-4 method-display"><strong>POST</strong></span> <span class="font-weight-bold mx-3"><strong>/usuarios</strong></span> <span class="text-muted"><small>Genera un nuevo usuario</small></span>
                        </button>
                        </h2>
                        <div id="collapseUsuariosPost" class="accordion-collapse collapse" aria-labelledby="usuarios-post-header" data-bs-parent="#acordeon-usuarios">
                            <div class="accordion-body">
                                {{!-- tabla de query string para el request  --}}
                                <div class="row mb-2">
                                    <div class="col-12 bg-dark rounded py-2">
                                        <h6 class="pt-2 text-decoration-underline">Parámetros</h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 p-0">
                                        <div class="card border-dark">
                                            <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                <th scope="col">Nombre</th>
                                                <th scope="col">Descripción</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="table-secondary">
                                                    <td>
                                                        <span class="text-primary"><strong>username</strong></span> <br>
                                                        <span class="small"><em>string</em></span><br>
                                                    </td>
                                                    <td>
                                                        Nuevo nombre de usuario<br>

                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <span class="text-primary"><strong>email</strong></span> <br>
                                                        <span class="small"><em>string</em></span><br>
                                                    </td>
                                                    <td>Correo del nuevo usuario, debe de ser único</td>
                                                    </tr>
                                                <tr class="table-secondary">
                                                    <td>
                                                        <span class="text-primary"><strong>password</strong></span> <br>
                                                        <span class="small"><em>string</em></span><br>
                                                    </td>
                                                    <td>Contraseña del usuario</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <span class="text-primary"><strong>apellidos</strong></span> <br>
                                                        <span class="small"><em>string</em></span><br>
                                                    </td>
                                                    <td>Apellidos del usuario</td>
                                                    </tr>
                                                <tr class="table-secondary">
                                                    <td>
                                                        <span class="text-primary"><strong>nombres</strong></span> <br>
                                                        <span class="small"><em>string</em></span><br>
                                                    </td>
                                                    <td>Nombres del usuario</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <span class="text-primary"><strong>telefono</strong></span> <br>
                                                        <span class="small"><em>string</em></span><br>
                                                    </td>
                                                    <td>Teléfono del usuario</td>
                                                    </tr>
                                                <tr class="table-secondary">
                                                    <td>
                                                        <span class="text-primary"><strong>fechaNacimiento</strong></span> <br>
                                                        <span class="small"><em>Date(yyyy-mm-dd)</em></span><br>
                                                    </td>
                                                    <td>Fecha de nacimiento del usuario</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <span class="text-primary"><strong>genero</strong></span> <br>
                                                        <span class="small"><em>enum(m-f-o)</em></span><br>
                                                    </td>
                                                    <td>Género del usuario</td>
                                                </tr>
                                            </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                {{!-- tabla de respuesta  --}}
                                <div class="row mb-2 mt-3">
                                    <div class="col-12 bg-dark rounded py-2">
                                        <h6 class="pt-2 text-decoration-underline">Reponse</h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 p-0">
                                        <div class="card border-dark">
                                            <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                <th scope="col">Código</th>
                                                <th scope="col">Descripción</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="table-secondary">
                                                    <td>
                                                        <span class="text-primary"><strong>201</strong></span> <br>
                                                    </td>
                                                    <td>
                                                        HTTP 201 OK <br>
                                                        <div class="row">
                                                            <div class="col-6">
                                                                <div class="form-group my-2">
                                                                    <label for="types-get-usuarios" class="form-label mt-1 small">Media type:</label>
                                                                    <select class="form-select" id="types-get-usuarios">
                                                                        <option>application/json</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        Ejemplo: <br>
                                                        <div class="card">
                                                            <div class="card-body">
                                                                <p class="card-text">
                                                                    acá vendría el ejemplo de una respuesta

                                                                </p>
                                                            </div>
                                                        </div>

                                                    </td>
                                                </tr>
                                            </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                {{!-- botones de prueba  --}}
                                <div class="row mt-5">
                                    <div class="col-12">
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalUsuariosPost">
                                            Probar servicio
                                        </button>
                                    </div>
                                </div>
                                <!-- Modal de post de usuarios -->
                                <div class="modal fade" id="modalUsuariosPost" tabindex="-1" aria-labelledby="modalUsuariosPostLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="modalUsuariosPostLabel">Crear un nuevo usuario</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form method="POST" action="/api/usuarios" class="forma-nuevo-usuario">
                                            <fieldset>
                                                <input type="hidden", name="_csrf", value="{{csrfToken}}">
                                                <div class="form-group">
                                                    <label for="nuevo-login" class="form-label mt-3">Nombre de usuario*</label>
                                                    <input class="form-control" required id="nuevo-login" placeholder="Username" name="username">
                                                    <small id="usernameHelp" class="form-text text-muted">Al menos 6 caracteres.</small>
                                                </div>
                                                <div class="form-group">
                                                    <label for="emailNuevoLogin" class="form-label mt-2">Email*</label>
                                                    <input type="email" class="form-control" id="emailNuevoLogin" aria-describedby="emailHelp" placeholder="email" required name="email">
                                                    <small id="emailHelp" class="form-text text-muted">Campo único.</small>
                                                </div>
                                                <div class="form-group">
                                                    <label for="pwdNuevoLogin" class="form-label mt-2">Contraseña</label>
                                                    <input type="password" class="form-control" id="pwdNuevoLogin" placeholder="contraseña" name="password" required>
                                                </div>
                                                <div class="form-group">
                                                    <label for="nombresNuevoLogin" class="form-label mt-2">Nombre(s)*</label>
                                                    <input class="form-control" id="nombresNuevoLogin" placeholder="Apu" name="nombres" required>
                                                </div>
                                                <div class="form-group">
                                                    <label for="apellidosNuevoLogin" class="form-label mt-2">Apellidos(s)*</label>
                                                    <input class="form-control" id="apellidosNuevoLogin" placeholder="Nahasapeemapetilon" name="apellidos" required>
                                                </div>
                                                <div class="form-group">
                                                    <label for="telefonoNuevoLogin" class="form-label mt-2">Teléfono*</label>
                                                    <input class="form-control" id="telefonoNuevoLogin" placeholder="5544332211" required name="telefono">
                                                    <small id="telefonoHelp" class="form-text text-muted">Unico. 10 dígitos.</small>
                                                </div>
                                                <div class="form-group">
                                                    <label for="generoNuevoLogin" class="form-label mt-2">Género</label>
                                                    <select class="form-select" id="generoNuevoLogin" name="genero">
                                                        <option>Hombre</option>
                                                        <option>Mujer</option>
                                                        <option>Otro</option>
                                                        <option>Prefiero no compartirlo</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label for="cumpleNuevoLogin" class="form-label mt-2">Fecha de nacimiento</label>
                                                    <select class="form-select" id="cumpleNuevoLogin" name="fechaNacimiento">
                                                        <option>1989-11-09</option>
                                                        <option>2010-02-26</option>
                                                        <option>1969-09-10</option>
                                                        <option>1990-12-20</option>
                                                    </select>
                                                    <small id="cumpleHelp" class="form-text text-muted">yyyy-mm-dd</small>
                                                </div>
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                                <button type="submit" class="btn btn-primary">Crear</button>
                                            </fieldset>
                                        </form>
                                    </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{!-- POST - usuarios/login  --}}
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="usuarios-login-post-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseUsuariosLoginPost" aria-expanded="false" aria-controls="collapseUsuariosLoginPost">
                            <span class="bg-secondary mr-3 py-2 px-4 method-display"><strong>POST</strong></span> <span class="font-weight-bold mx-3"><strong>/usuarios/login</strong></span> <span class="text-muted"><small>Logea a un usuario</small></span>
                        </button>
                        </h2>
                        <div id="collapseUsuariosLoginPost" class="accordion-collapse collapse" aria-labelledby="usuarios-login-post-header" data-bs-parent="#acordeon-usuarios">
                            <div class="accordion-body">
                                {{!-- tabla de query string para el request  --}}
                                <div class="row mb-2">
                                    <div class="col-12 bg-dark rounded py-2">
                                        <h6 class="pt-2 text-decoration-underline">Parámetros</h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 p-0">
                                        <div class="card border-dark">
                                            <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                <th scope="col">Nombre</th>
                                                <th scope="col">Descripción</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="table-secondary">
                                                    <td>
                                                        <span class="text-primary"><strong>login</strong></span> <br>
                                                        <span class="small"><em>string</em></span><br>

                                                    </td>
                                                    <td>
                                                        Email o username del usuario a logear<br>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <span class="text-primary"><strong>password</strong></span> <br>
                                                        <span class="small"><em>string</em></span><br>
                                                    </td>
                                                    <td>Contraseña del usuario</td>
                                                </tr>
                                            </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                {{!-- tabla de respuesta  --}}
                                <div class="row mb-2 mt-3">
                                    <div class="col-12 bg-dark rounded py-2">
                                        <h6 class="pt-2 text-decoration-underline">Reponse</h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 p-0">
                                        <div class="card border-dark">
                                            <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                <th scope="col">Código</th>
                                                <th scope="col">Descripción</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="table-secondary">
                                                    <td>
                                                        <span class="text-primary"><strong>200</strong></span> <br>
                                                    </td>
                                                    <td>
                                                        HTTP 200 OK <br>
                                                        <div class="row">
                                                            <div class="col-6">
                                                                <div class="form-group my-2">
                                                                    <label for="types-get-usuarios" class="form-label mt-1 small">Media type:</label>
                                                                    <select class="form-select" id="types-get-usuarios">
                                                                        <option>application/json</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        Ejemplo: <br>
                                                        <div class="card">
                                                            <div class="card-body">
                                                                <p class="card-text">
                                                                    acá vendría el ejemplo de una respuesta

                                                                </p>
                                                            </div>
                                                        </div>

                                                    </td>
                                                </tr>
                                            </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                {{!-- botones de prueba  --}}
                                <div class="row mt-5">
                                    <div class="col-12">
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalUsuariosLoginPost">
                                            Probar servicio
                                        </button>
                                    </div>
                                </div>
                                <!-- Modal de post de usuarios -->
                                <div class="modal fade" id="modalUsuariosLoginPost" tabindex="-1" aria-labelledby="modalUsuariosLoginPostLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="modalUsuariosLoginPostLabel">Login user</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form method="POST" action="/api/usuarios/login" class="forma-nuevo-usuario">
                                            <fieldset>
                                                <input type="hidden", name="_csrf", value="{{csrfToken}}">
                                                <div class="form-group">
                                                    <label for="user-to-login" class="form-label mt-3">Email o nombre de usuario</label>
                                                    <input class="form-control" required id="user-to-login" placeholder="Username" name="login">
                                                    <small id="usernameLoginHelp" class="form-text text-muted">Al menos 6 caracteres.</small>
                                                </div>
                                                <div class="form-group">
                                                    <label for="pwdLogin" class="form-label mt-2">Contraseña</label>
                                                    <input type="password" class="form-control" id="pwdLogin" placeholder="contraseña" name="password" required>
                                                </div>
                                                <div class="mt-4">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                                    <button type="submit" class="btn btn-primary">Autenticar</button>
                                                </div>
                                            </fieldset>
                                        </form>
                                    </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{!-- POST - usuarios/logout  --}}
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="usuarios-logout-post-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseUsuariosLogoutPost" aria-expanded="false" aria-controls="collapseUsuariosLogoutPost">
                            <span class="bg-secondary mr-3 py-2 px-4 method-display"><strong>POST</strong></span> <span class="font-weight-bold mx-3"><strong>/usuarios/logout</strong></span> <span class="text-muted"><small>Logout de usuario</small></span>
                        </button>
                        </h2>
                        <div id="collapseUsuariosLogoutPost" class="accordion-collapse collapse" aria-labelledby="usuarios-logout-post-header" data-bs-parent="#acordeon-usuarios">
                            <div class="accordion-body">
                                {{!-- tabla de query string para el request  --}}
                                <div class="row mb-2">
                                    <div class="col-12 bg-dark rounded py-2">
                                        <h6 class="pt-2 text-decoration-underline">Parámetros</h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 p-0">
                                        <div class="card border-dark">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                    <th scope="col">Nombre</th>
                                                    <th scope="col">Descripción</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr class="table-secondary">
                                                        <td>
                                                            <span class="text-primary"><strong>No aplica</strong></span> <br>
                                                        </td>
                                                        <td>
                                                            No aplica<br>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                {{!-- tabla de respuesta  --}}
                                <div class="row mb-2 mt-3">
                                    <div class="col-12 bg-dark rounded py-2">
                                        <h6 class="pt-2 text-decoration-underline">Reponse</h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 p-0">
                                        <div class="card border-dark">
                                            <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                <th scope="col">Código</th>
                                                <th scope="col">Descripción</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="table-secondary">
                                                    <td>
                                                        <span class="text-primary"><strong>200</strong></span> <br>
                                                    </td>
                                                    <td>
                                                        HTTP 200 OK <br>
                                                        <div class="row">
                                                            <div class="col-6">
                                                                <div class="form-group my-2">
                                                                    <label for="types-get-usuarios" class="form-label mt-1 small">Media type:</label>
                                                                    <select class="form-select" id="types-get-usuarios">
                                                                        <option>application/json</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        Ejemplo: <br>
                                                        <div class="card">
                                                            <div class="card-body">
                                                                <p class="card-text">
                                                                    acá vendría el ejemplo de una respuesta

                                                                </p>
                                                            </div>
                                                        </div>

                                                    </td>
                                                </tr>
                                            </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                {{!-- botones de prueba  --}}
                                <div class="row mt-5">
                                    <div class="col-12">
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalUsuariosLogoutPost">
                                            Probar servicio
                                        </button>
                                    </div>
                                </div>
                                <!-- Modal de post de usuarios -->
                                <div class="modal fade" id="modalUsuariosLogoutPost" tabindex="-1" aria-labelledby="modalUsuariosLogoutPostLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="modalUsuariosLogoutPostLabel">Logout user</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="col-12 text-center">
                                            <p>
                                                ¿Estás seguro que quieres continuar? <strong> Confirmar logout de usuario autenticado.</strong>
                                            </p>
                                        </div>
                                        <form method="POST" action="/api/usuarios/logout" class="forma-logout-usuario">
                                            <fieldset>
                                                <input type="hidden", name="_csrf", value="{{csrfToken}}">
                                                <div class="mt-4">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                                    <button type="submit" class="btn btn-primary">Logout</button>
                                                </div>
                                            </fieldset>
                                        </form>
                                    </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{!-- DELETE - usuarios/me --}}
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="usuarios-delete-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseUsuariosDelete" aria-expanded="false" aria-controls="collapseUsuariosDelete">
                            <span class="bg-secondary mr-3 py-2 px-4 method-display"><strong>DELETE</strong></span> <span class="font-weight-bold mx-3"><strong>/usuarios/me</strong></span> <span class="text-muted"><small>Elimina a un usuario autenticado</small></span>
                        </button>
                        </h2>
                        <div id="collapseUsuariosDelete" class="accordion-collapse collapse" aria-labelledby="usuarios-delete-header" data-bs-parent="#acordeon-usuarios">
                            <div class="accordion-body">
                                {{!-- tabla de query string para el request  --}}
                                <div class="row mb-2">
                                    <div class="col-12 bg-dark rounded py-2">
                                        <h6 class="pt-2 text-decoration-underline">Parámetros</h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 p-0">
                                        <div class="card border-dark">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                    <th scope="col">Nombre</th>
                                                    <th scope="col">Descripción</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr class="table-secondary">
                                                        <td>
                                                            <span class="text-primary"><strong>No aplica</strong></span> <br>
                                                        </td>
                                                        <td>
                                                            No aplica<br>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                {{!-- tabla de respuesta  --}}
                                <div class="row mb-2 mt-3">
                                    <div class="col-12 bg-dark rounded py-2">
                                        <h6 class="pt-2 text-decoration-underline">Reponse</h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 p-0">
                                        <div class="card border-dark">
                                            <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                <th scope="col">Código</th>
                                                <th scope="col">Descripción</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="table-secondary">
                                                    <td>
                                                        <span class="text-primary"><strong>200</strong></span> <br>
                                                    </td>
                                                    <td>
                                                        HTTP 200 OK <br>
                                                        <div class="row">
                                                            <div class="col-6">
                                                                <div class="form-group my-2">
                                                                    <label for="types-delete-usuarios" class="form-label mt-1 small">Media type:</label>
                                                                    <select class="form-select" id="types-delete-usuarios">
                                                                        <option>application/json</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        Ejemplo: <br>
                                                        <div class="card">
                                                            <div class="card-body">
                                                                <p class="card-text">
                                                                    acá vendría el ejemplo de una respuesta

                                                                </p>
                                                            </div>
                                                        </div>

                                                    </td>
                                                </tr>
                                            </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                {{!-- botones de prueba  --}}
                                <div class="row mt-5">
                                    <div class="col-12">
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalUsuariosDelete">
                                            Probar servicio
                                        </button>
                                    </div>
                                </div>
                                <!-- Modal de post de usuarios -->
                                <div class="modal fade" id="modalUsuariosDelete" tabindex="-1" aria-labelledby="modalUsuariosDeleteLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="modalUsuariosDeleteLabel">
                                            <div class="spinner-cargando-delete-usuario spinner-border mx-2 d-none" role="status">
                                                <span class="visually-hidden">Loading...</span>
                                            </div>
                                            DELETE usuario
                                        </h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="col-12 text-center">
                                            <p>
                                                ¿Estás seguro que quieres continuar? <strong> Se eliminará el último usuario con el que te hayas autenticado.</strong>
                                            </p>
                                        </div>
                                        <form class="forma-delete-usuario">
                                            <fieldset>
                                                <input class="csrfInput" type="hidden", name="_csrf", value="{{csrfToken}}">
                                                <div class="mt-2">
                                                    <div class="row py-1">
                                                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancelar</button>
                                                    </div>
                                                    <div class="row py-1">
                                                    <button class="btn btn-danger" id="btnEliminarUsuario">Eliminar usuario</button>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </form>
                                    </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <p class="card-text">
                    TODO: Implementar para clases, profesores, academias, etc...
                </p>
            </div>
            <div class="card-footer text-muted">
                TODO: Agregar fecha de última modificación de la api
            </div>
            </div>
            <div class="card">
        </div>
    </div>
</div>


<script defer src="/js/main.js"></script>